<config>
    <exportpath>/home/facundo/SIA/gps/genetics/exports/</exportpath>
    <patterns test="300">/home/facundo/SIA/gps/genetics/samples2.csv</patterns>
    <architecture>
        <layer function="tanh">2</layer>
        <layer function="tanh">75</layer>
        <layer function="tanh">1</layer>
    </architecture>
    <genetics>
        <population>10</population>
        <replacer>3</replacer>
        <fitnessfunction>1</fitnessfunction>
        <crossover probability="0.5">anular</crossover>
        <mutator probability="0.01">classic</mutator>
        <replacementselector>
            <selector k="2">boltzmann</selector>
        </replacementselector>
        <selectionselector>
            <selector k="2">roulette</selector>
        </selectionselector>
        <cutconditions>
            <cutcondition maxGenerations="1000">generations</cutcondition>
        </cutconditions>
        <backpropagation>0.5</backpropagation>
    </genetics>
    <backpropagation>
        <deltacalculator etha="0.01" function="tanh" a="0.01" b="0.6" alpha="0.6">gradient-descent</deltacalculator>
        <cutconditions>
            <cutcondition>chained</cutcondition>
            <cutcondition epochs="100">epochs</cutcondition>
            <cutcondition epsilon="0.001">error</cutcondition>
        </cutconditions>
    </backpropagation>
</config>