<config>
    <output>
        <export>
            <exportpath>/home/facundo/SIA/gps/genetics/exports/</exportpath>
            <errorhistory>true</errorhistory>
            <fitnesshistory>true</fitnesshistory>
            <fenotypes>best</fenotypes>
        </export>
    </output>
    <patterns test="300">/home/facundo/SIA/gps/genetics/samples2.csv</patterns>
    <architecture>
        <layer function="tanh">2</layer>
        <layer function="tanh">75</layer>
        <layer function="tanh">1</layer>
    </architecture>
    <genetics>
        <population>50</population>
        <replacer>2</replacer>
        <fitnessfunction>1</fitnessfunction>
        <crossover probability="0.1">anular</crossover>
        <mutator probability="0.01">modern</mutator>
        <selectionselector>
            <selector k="4">elite</selector>
        </selectionselector>
        <replacementselector>
            <selector k="10">tournaments-e</selector>
        </replacementselector>
        <cutconditions>
            <cutcondition maxGenerations="1000">generations</cutcondition>
        </cutconditions>
        <backpropagation>0.5</backpropagation>
    </genetics>
    <backpropagation>
        <deltacalculator etha="0.01" function="tanh" a="0.01" b="0.6" alpha="0.6">gradient-descent</deltacalculator>
        <cutconditions>
            <cutcondition>chained</cutcondition>
            <cutcondition epochs="100">epochs</cutcondition>
            <cutcondition epsilon="0.001">error</cutcondition>
        </cutconditions>
    </backpropagation>
</config>